.registration-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em auto 5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 2em;
    width: 30em;
    align-items: center;
}

    .registration-form div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.7em;
        width: 14em;
    }

    .registration-form label {
        color: #ffffff;
        margin-bottom: 0.2em;
        font-weight: bold;
    }

    .registration-form input {
        padding: 0.4em;
        font-size: 0.9em;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
    }

    .registration-form div.div-btn {
        margin: 2em 0em 1em;
        width: 10em;
    }

    .registration-form
    .div-a {
        width: auto;
    }

    .registration-form a {
        font-size: 0.8em;
    }

    .registration-form span.error {
        color: #e44c65;
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 0.3em;
    }

    .registration-form label.error {
        color: #e44c65;
        font-size: 1em;
    }
