<header id="header">
	<h1 id="logo"><a asp-action="index" asp-controller="home">Taskmaster</a></h1>
	<nav id="nav">
		<ul>
			<li><a asp-action="index" asp-controller="home">Головна</a></li>
			<li><a asp-action="contacts" asp-controller="home">Контакти</a></li>
			@if (User?.Identity?.IsAuthenticated ?? false)
			{
				<li><a asp-action="index" asp-controller="project-task">Мої задачі</a></li>
				<li>
					<form method="post" asp-action="logout" asp-controller="account" asp-antiforgery="false">
						<button class="logout-button" type="submit">Вийти</button>
					</form>
				</li>
			}
			else
			{
				<li><a href="@(RenderLoginRedirectUrl() ?? "account/login")" class="button primary">Увійти</a></li>
			}
		</ul>
	</nav>
</header>

@{
	string? RenderLoginRedirectUrl()
	{
		string returnUrl = String.IsNullOrEmpty(Context.Request.Query["returnUrl"]) ?
			Context.Request.Path :
			Context.Request.Query["returnUrl"].ToString();

		if (!String.Equals(returnUrl, "/account/login", StringComparison.OrdinalIgnoreCase) &&
			!String.Equals(returnUrl, "/account/registration", StringComparison.OrdinalIgnoreCase))
			return Url.Action("login", "account", new { returnUrl = returnUrl });
		else
			return Url.Action("login", "account");
	}
}
