<section id="sidebar">
	<section>
		<h3>Цікаве</h3>
		<p>Відкрийте для себе захоплюючі факти та цікаві історії, пов'язані з управлінням проєктами та задачами. Дізнайтеся про найновіші тренди та кращі практики, які допоможуть вам досягти успіху у вашому проєктному роботі. Прочитайте захопливі історії успіху та вдосконалюйте свої навички разом з Taskmaster.</p>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button">Більше</a></li>
			</ul>
		</footer>
	</section>
</section>
