@model Taskmaster.ViewModels.ProjectViewModel
@{
	Layout = null;
}

<form class="create-project-form" method="post" asp-action="create-project" asp-controller="project-task">
	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" />
		<span asp-validation-for="Name" class="error project-name-error"></span>
	</div>
	<div class="form-buttons">
		<button type="submit" class="button primary small">Додати</button>
		<button type="button" class="cancel button small">Скасувати</button>
	</div>
</form>
