@{
	ViewBag.Title = "Головна";
}

<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Головна сторінка</h2>
			<p>Taskmaster - ваш незамінний помічник у плануванні проєктів для ще більшої ефективності</p>
		</header>
		<div class="row gtr-150">
			<div class="col-8 col-12-medium">

				<!-- Content -->
				<section id="content">
					<a href="#" class="image fit">
						<img src="~/images/pic09.jpg" alt="Ноутбук на столі" />
					</a>
					<h3>Управління проєктами з Taskmaster</h3>
					<p>Сайт Taskmaster надає зручні інструменти для управління проєктами, включаючи розподіл та виконання задач. Наша платформа дозволяє організувати процеси та забезпечити ефективне спілкування команди. Завдяки нам, ваші проекти будуть рухатись вперед швидко й ефективно.</p>
					<p>В Taskmaster ви знайдете потужні інструменти для керування проєктами, а також зможете легко спілкуватися з колегами та виконавцями. Наша платформа допоможе вам тримати всі задачі під контролем, зберігати важливу інформацію та досягати бажаних результатів.</p>
					<h3>Ефективна організація завдань</h3>
					<p>В Taskmaster ви зможете належним чином організувати свої завдання. Ми пропонуємо зручні інструменти для розподілу роботи, відстеження прогресу та контролю строків. Наша платформа дозволяє вам легко визначити пріоритети та розподілити завдання між учасниками команди.</p>
					<ul>
						<li>Ефективне управління завданнями та проєктами.</li>
						<li>Зручний інтерфейс та інтуїтивно зрозумілі функції.</li>
						<li>Можливість спілкуватися та обмінюватися інформацією з колегами.</li>
						<li>Гнучкі налаштування та персоналізація для відповідності вашим потребам.</li>
						<li>Зручний доступ до інформації та завдань з будь-якого пристрою.</li>
					</ul>
				</section>

			</div>
			<div class="col-4 col-12-medium">

				<!-- Sidebar -->
				@await Html.PartialAsync("_RightSidebar")

			</div>
		</div>
	</div>
</div>
